<!-- EXTENDS CSS -->

{% extends 'base.html' %}

<!-- END EXTENDS CSS -->

<!-- LINK CSS -->

{% block linkcss %} {% endblock linkcss %}

<!-- END LINK CSS -->

<!-- TITLE CSS -->

{% block title %} Register {% endblock title %}

<!-- END TITLE CSS -->

<!-- CONTENT CSS -->

{% block content %}

<main class="c-main-register o-main o-main-center o-main-secondary">
  <section class="c-container-wrapper-register o-container-center o-container-screen">
    <form
      method="POST"
      class="c-form-auth c-form-auth-register"
    >
      <h2 class="c-form-auth__title">Member Register</h2>

      <input
        class="c-form-auth__input js-input"
        type="text"
        id="username"
        name="username"
        placeholder="Username"
      />

      <input
        class="c-form-auth__input js-input"
        type="password"
        id="password"
        name="password"
        placeholder="Your password"
      />

      <input
        class="c-form-auth__input js-input"
        type="email"
        id="email"
        name="email"
        placeholder="user@gmail.com"
      />

      <button
        class="c-form-auth__action-register o-button o-button-full o-button-rounded o-button-fill-primary js-btn-register"
        type="submit"
        aria-label="register"
      >
        REGISTER
      </button>

      <a
        class="c-form-auth__action-have-account o-button o-button-full o-button-rounded o-button-fill-primary"
        href="{{ url_for(context['login_view']) }}"
        aria-label="do you already have an account?"
        target="_self"
      >
        Do you already have an account?
      </a>

      <div class="c-form-auth__wrapper-image">
        <i class="fa fa-registered c-form-auth__icon" aria-hidden="true"></i>
      </div>
    </form>
  </section>
</main>

{% endblock content %}

<!-- END CONTENT CSS -->
