HOST="0.0.0.0"
PORT=5050
SECRET_KEY="secret_key"
MAX_CONTENT_LENGTH=1048576

MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=noti-db
MYSQL_PORT=3306
MYSQL_USER=noti_user
MYSQL_PASSWORD=noti_pass
MYSQL_DB_NAME=noti_db