@use "../settings/settings" as *;
@use "../tools/mixins" as *;

.c-alert {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  height: auto;
  width: 100%;
  padding: 1rem;
  box-shadow: rgba($color-black-rgb, 0.2) 0rem 0.063rem 0.125rem 0rem;

  @include lg() {
    width: 40%;
    border-radius: 0.5rem;
  }

  &--success {
    background-color: $color-success;
  }

  &--error {
    background-color: $color-error;
  }

  &__wrapper-text {
    align-self: center;
    width: calc(100% - 2rem);
    height: 100%;
  }

  &__text {
    font-size: 1rem;
    font-weight: 600;
    color: $color-white;
  }

  &__btn-close {
    display: flex;
    width: 2rem;
    height: 100%;

    &-image {
      height: 100%;
      width: 100%;
      fill: $color-white;
    }
  }
}
