<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="keywords" content="noti flask, notes, flask" />
    <meta
      name="description"
      content="Application to create notes for the future."
    />
    <meta name="author" content="Diego Libonati" />
    <meta name="copyright" content="Diego Libonati" />
    <meta property="og:title" content="Noti Flask" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Application to create notes for the future."
    />
    <meta property="og:url" content="https://noti-flask-production.up.railway.app" />
    <meta property="og:image" content="/ogimage.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Noti Flask" />
    <meta
      name="twitter:description"
      content="Application to create notes for the future."
    />
    <meta name="twitter:url" content="https://noti-flask-production.up.railway.app" />
    <meta name="twitter:image" content="/ogimage.png" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/fontawesome.min.css"
      rel="stylesheet"
    />

    <!-- LINK CSS -->

    {% block linkcss %} {% endblock linkcss %}

    <!-- END LINK CSS -->

    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <!-- FLASH ALERT -->

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="c-alerts">
      {% for category, message in messages %}
      <li
        class="c-alert c-alert--{{ category }} js-alert"
        id="js-alert-{{loop.index}}"
      >
        <div class="c-alert__wrapper-text">
          <h2 class="c-alert__text">{{ message }}</h2>
        </div>

        <button
          type="button"
          aria-label="btn close alert"
          class="c-alert__btn-close js-close-alert"
          id="js-close-alert-{{loop.index}}"
        >
          <img
            src="{{ url_for('static', filename='assets/close-white.svg') }}"
            alt="close alert"
            class="c-alert__btn-close-image"
          />
        </button>
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <!-- END FLASH ALERT -->

    <!-- HEADER -->

    {% if context["user"].is_authenticated %}

    <header class="c-header">
      <div class="c-header__logo">
        <div class="c-header__wrapper-title">
          <h2 class="c-header__title">Noti</h2>
        </div>

        <div class="c-header__wrapper-actions">
          <button
            class="c-header__action c-header__action-open c-header__action--active js-open-navbar"
            aria-label="btn open navbar"
          >
            <i class="fa fa-bars c-header__action-icon" aria-hidden="true"></i>
          </button>
          <button
            class="c-header__action c-header__action-close js-close-navbar"
            aria-label="btn close navbar"
          >
            <i class="fa fa-close c-header__action-icon" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <nav class="c-nav js-navbar">
        <ul class="c-nav__list">
          <li class="c-nav__item" title="Home">
            <a
              href=""
              target="_self"
              class="c-nav__link {{ 'c-nav__link--active' if context['current_route'] == 'Home' }}"
              aria-label="home"
            >
              <div class="c-nav__wrapper-icon">
                <i class="fa fa-home c-nav__icon" aria-hidden="true"></i>
              </div>
              <h2 class="c-nav__text">Home</h2>
            </a>
          </li>

          <li class="c-nav__item" title="Logout">
            <a
              target="_self"
              class="c-nav__link c-nav__logout js-btn-logout"
              aria-label="home"
            >
              <div class="c-nav__wrapper-icon">
                <i class="fa fa-sign-out c-nav__icon" aria-hidden="true"></i>
              </div>
              <h2 class="c-nav__text">Logout</h2>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    {% endif %}

    <!-- END HEADER -->

    <!-- BLOCK CONTENT -->

    {% block content %} {% endblock content %}

    <!-- END BLOCK CONTENT -->

    <!-- JS SCRIPTS -->

    <script
      type="module"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/js/all.min.js"></script>

    {% block javascript %} {% endblock javascript %}

    <!-- END JS SCRIPTS -->
  </body>
</html>
