/* ===================================================================================================== */
/* SETTINGS */
/* ===================================================================================================== */

$base-font-size: 16px;

$primary-color: #4b164c;
$secondary-color: #dd88cf;
$dark-gray-color: #a9a9a9;
$light-gray-color: #d3d3d3;
$white-color: #ffffff;
$black-color: #000000;
$success-color: #26c926;
$error-color: #ff0000;

$primary-rgb-color: rgb(75, 22, 76);
$secondary-rgb-color: rgb(221, 136, 207);
$black-rgb-color: rgb(0, 0, 0);
$error-rgb-color: rgb(255, 0, 0);

$primary-font: "Titillium Web", Helvetica, sans-serif;

/* ===================================================================================================== */
/* END SETTINGS */
/* ===================================================================================================== */
