/* ===================================================================================================== */
/* SETTINGS */
/* ===================================================================================================== */

$base-font-size: 16px;

$color-primary: #4b164c;
$color-secondary: #dd88cf;
$color-dark-gray: #a9a9a9;
$color-light-gray: #d3d3d3;
$color-white: #ffffff;
$color-black: #000000;
$color-success: #26c926;
$color-error: #ff0000;

$color-primary-rgb: rgb(75, 22, 76);
$color-secondary-rgb: rgb(221, 136, 207);
$color-black-rgb: rgb(0, 0, 0);
$color-error-rgb: rgb(255, 0, 0);

$primary-font: "Titillium Web", Helvetica, sans-serif;

/* ===================================================================================================== */
/* END SETTINGS */
/* ===================================================================================================== */
