/* ===================================================================================================== */
/* SETTINGS */
/* ===================================================================================================== */

$base-font-size: 16px;

$primary-color: #ff5714;
$secondary-color: #ffb800;
$dark-gray-color: #a9a9a9;
$light-gray-color: #d3d3d3;
$white-color: #ffffff;
$black-color: #000000;
$success-color: #26c926;
$error-color: #ff0000;

$primary-rgb-color: rgb(255, 87, 20);
$secondary-rgb-color: rgb(255, 184, 0);
$black-rgb-color: rgb(0, 0, 0);
$error-rgb-color: rgb(255, 0, 0);

$primary-font: "Titillium Web", Helvetica, sans-serif;

/* ===================================================================================================== */
/* END SETTINGS */
/* ===================================================================================================== */

// --primary-font: "Titillium Web", Helvetica, sans-serif;
// --base-font-size: 10px;
// --primary-color: #ff5714;
// --secondary-color: #ffb800;
// --white-color: #ffffff;
// --black-color: #000000;
// --black-int-color: 0, 0, 0;
