@use "../settings/settings" as *;

.o-button {
  cursor: pointer;
  transition: 1s all;

  &:active {
    transform: scale(0.2);
  }

  &-full {
    width: 100%;
    padding: 1rem;
  }

  &-rounded {
    border-radius: 0.5rem;
  }

  &-rounded-full {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
  }

  &-fill-primary {
    color: $color-white;
    background-color: $color-primary;


    &:hover {
      background-color: rgba($color-primary-rgb, 0.8);
    }
  }

  &-fill-secondary {
    color: $color-white;
    background-color: $color-secondary;

    &:hover {
      background-color: rgba($color-secondary-rgb, 0.8);
    }
  }

  &-fill-error {
    color: $color-white;
    background-color: $color-error;

    &:hover {
      background-color: rgba($color-error-rgb, 0.8);
    }
  }
}
