.o-button {
  cursor: pointer;
  transition: 1s all;

  &:active {
    transform: scale(0.2);
  }

  &-full {
    width: 100%;
    padding: 1rem;
  }

  &-rounded {
    border-radius: 0.5rem;
  }

  &-rounded-full {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
  }

  &-fill-primary {
    color: $white-color;
    background-color: $primary-color;


    &:hover {
      background-color: rgba($primary-rgb-color, 0.8);
    }
  }

  &-fill-secondary {
    color: $white-color;
    background-color: $secondary-color;

    &:hover {
      background-color: rgba($secondary-rgb-color, 0.8);
    }
  }

  &-fill-error {
    color: $white-color;
    background-color: $error-color;

    &:hover {
      background-color: rgba($error-rgb-color, 0.8);
    }
  }
}
