.o-main {
  height: 100%;
  width: 100%;

  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-primary {
    background-color: $primary-color;
  }

  &-secondary {
    background-color: $secondary-color;
  }

  &-app {
    padding: 1rem;
    padding-top: 5rem;

    @include lg() {
      width: calc(100vw - 5.1rem);
      min-height: 100vh;
      margin-left: 4rem;
      padding-top: 0rem;
      padding: 1rem;
      overflow: auto;
    }
  }
}
