.o-main {
  height: 100%;
  width: 100%;

  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &-center-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    width: 100%;
    height: 100%;
  }

  &-center-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    width: 100%;
    height: 100%;
  }
}
