/* ===================================================================================================== */
/* GENERIC */
/* ===================================================================================================== */

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  outline: 0rem solid;
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: $primary-font;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    outline: 0rem solid;
  }
}

img {
  max-width: 100%;
}

body {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

/* ===================================================================================================== */
/* END GENERIC */
/* ===================================================================================================== */
