/* ===================================================================================================== */
/* UTILITIES */
/* ===================================================================================================== */

.u-none {
  display: none;
}

.u-block {
  display: block;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: flex;
}

/* ===================================================================================================== */
/* END UTILITIES */
/* ===================================================================================================== */
